@model RegalosWeb.Models.Articulo

@{
    ViewBag.Title = "Agregar";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Agregar Articulo</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Agregar Articulo</h1>

    <table>

        @using (Html.BeginForm())
        {

            <tr><td>Código</td><td>@Html.TextBoxFor(A => A.codigoA)</td></tr>
            <tr><td>Denominación</td><td>@Html.TextBoxFor(A => A.DenominacionA)</td></tr>
            <tr><td>Precio</td><td>@Html.TextBoxFor(A => A.PrecioUnitario)</td></tr>

            <tr>
                <td>Tipo Artículo</td>
                <td>
                    @Html.LabelFor(model => model.IdTA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("idTA", (SelectList)ViewBag.cboTipoArticulo, "Tipo Artículo")
                    </div>
                </td>
            </tr>

            <tr><td><input type="submit" value="Agregar" /></td></tr>
        }

    </table>
</body>
</html>