@using RegalosWeb.Models
@{
    ViewBag.Title = "Listar";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Listar</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Listar Artículos</h1>

    <table border="1">

        <tr><th>ID</th><th>Código</th><th>Artículo</th><th>Precio</th><th>Tipo de Artículo</th></th></tr>

        @foreach (ArticuloTipoDto AT in Model)
        {
            <tr><td>@AT.IdA</td><td>@AT.codigoA</td><td>@AT.DenominacionA</td><td>@AT.PrecioUnitario</td><td>@AT.DenominacionTA</td></tr>

        }
    </table>

    @Html.ActionLink("Volver", "Index");

</body>
</html>